name: Build and Push Docker Image to GHCR

on:
  push:
    branches:
      - main  # Ou a sua branch principal
    paths:
      - 'Docker/TaskHub/**' # Dispara apenas se houver mudanças nesta pasta

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ESTE PASSO NOVO CONVERTE O NOME PARA MINÚSCULO
      - name: Lowercase repo name
        run: |
          echo "IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/ec2hub" | tr '[:upper:]' '[:lower:]' >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./Docker/TaskHub/
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
